/*General*/

body {
  background: #111;
  color: #efefef;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Modal*/

div.landing-page {
  z-index: 5;
  transition: .5s;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(50,50,50,0.65);
  overflow: hidden;
  animation: fadeIn 100ms ease-in-out 0s 1 normal forwards;
  -webkit-animation: fadeIn 100ms ease-in-out 0s 1 normal forwards;
  animation: fadeOut 100ms ease-in-out 0s 1 normal forwards;
  -webkit-animation: fadeOut 100ms ease-in-out 0s 1 normal forwards;
  transition: 0.3s;
}

.hidden {
  display: none;
}

div.modal {
  background: #aaa;
  color: #333;
  margin: 0 auto;
  padding: 30px 30px 0;
  width: 25%;
  font-size: 16px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
}

div.modal > h1 {
  font-size: 26px;
  text-align: center;
  font-weight: bold;
}

div.modal > p {
  margin-top: 16px;
}

span#enter {
  padding: 9px 20px;
  width: 40px;
  background: #ccc;
  margin: 20px auto;
  transition: 0.3s;
}

span#enter:hover {
  cursor: pointer;
  background: #eee;
  transition: 0.3s;
}

/*Navbar*/

nav {
  display: flex;
  font-size: 24px;
  font-weight: bold;
}

nav > div.title {
  font-size: 30px;
  margin: 15px;
  cursor: default;
}

div.nav-option {
  display: flex;
  align-items: center;
  margin: 0 15px;
}

label {
  display: block;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
}

label:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  /*top: 50%;*/
  /*transition: border-bottom .1s, border-top .1s .1s;*/
}

input:checked ~ label:after {
  /*transition: border-top .1s, border-bottom .1s .1s;*/
}

input#vis-check, input#music-check {
  display: none;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

input:checked ~ ul.menu{
  max-height: 400px;
  transition: max-height 0.4s;
  animation: fadein 0.4s;
}

ul.menu {
  line-height: 1.25;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  list-style-type: none;
  box-shadow: 0 1px 1px rgba(200,200,200,0.7);
  transition: max-height 0.4s ease-out;
  animation: fadeout 0.4s;

  top: 60px;
  position: absolute;
}

ul.menu li {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

ul.menu li span {
  font-size: 14px;
  display: block;
  margin: 4px 8px;
  text-decoration: none;
  transition: .3s;
  white-space: nowrap;
}

ul.menu li:hover{
  background: #ccc;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

div#question {
  margin-left: auto;
}

div#question:hover {
  opacity: 0.65;
  cursor: pointer;
  transition: 0.3s;
}

/* Audio Controls */




/* Contact info footer */

ul.personal-info {
  list-style: none;
  margin: 15px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 20px;
}

ul.personal-info > li {
  margin: 0 10px;
}

ul.personal-info > li:hover {
  opacity: .5;
  transition: .2s;
  cursor: pointer;
}
